$font-family-eina: 'Eina', 'Helvetica Neue', Helvetica, sans-serif;
$font-family-graphik: 'Graphik', 'Avenir Next', 'Helvetica Neue', Helvetica, sans-serif;
$font-family-system: apple-system, BlinkMacSystemFont, Roboto, Helvetica, Arial, sans-serif;

$font-family-monospace: 'Roboto Mono', Menlo, Monaco, Consolas, 'Courier New', monospace;
$font-family-serif: Georgia, Times, 'Times New Roman', serif;


$blue-gradient: linear-gradient(to right, #3a8eff, #0f5eeb);


$blue:          #4a8bfc;
$light-blue:    #529eff;
$green:         #1ed176;
$orange:        #fcb52c;
$purple:        #8b7df1;
$red:           #f8556c;

$color_1: $blue;