/***** Homepage *****/
.section {
  margin-bottom: 16px;
}

@media (min-width: 992px) {
  .section {
    margin-bottom: 60px;

    &.hero {
      margin-bottom: 0;
    }
  }
}

.section h2 {
  margin-bottom: 10px;
  text-align: center;
}

section.how-can-we-help {
  background: #f8f9fb;
  padding-top: 96px;
  padding-bottom: 76px;
  border-bottom: 1px solid #ebecee;

  hgroup {
    text-align: center;
  }

  h2 {
    font-weight: 600;
    font-size: 28px;
    margin-top: 0;
  }

  p {
    color: #455160;
    font-size: 18px;
    margin-top: 13px;
    letter-spacing: -.006em;
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 42px;

    @media (min-width: 1220px) {
      width: 100%;
      max-width: 1208px;
      justify-content: space-between;
    }

    &::before,
    &::after {
      display: none;
    }
  }

  li {
    flex: 0 270px;
    margin-bottom: 24px;

    a {
      position: relative;
      display: block;
      text-align: center;
      padding: 153px 30px 33px;

      &::before {
        position: absolute;
        content: '';
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        border-radius: 8px;
        pointer-events: none;
        box-shadow: 0 4px 8px rgba(0,8,24,.08), 0 8px 32px rgba(0,8,24,.1);
        transition: .2s box-shadow ease-out,.2s transform ease-out;
      }

      &::after {
        background: url('../assets/quick-support-icons.png') 0 0 no-repeat;
        background-size: 96px;
        width: 96px;
        height: 96px;
        content: '';
        position: absolute;
        top: 38px;
        right: calc(50% - 48px);
      }

      &:hover {
        text-decoration: none;

        &::before {
          transform: scale3d(1.02, 1.02, 1);
          box-shadow:
            0 2px 8px rgba(0,8,24,.08),
            0 8px 32px rgba(0,8,24,.1),
            0 8px 18px rgba(0,8,24,.1);
        }
      }

      &.news-updates::after {    background-position: 0 -96px * 1 }
      &.account-billing::after { background-position: 0 -96px * 2 }
      &.products::after {        background-position: 0 -96px * 3 }
    }

    h3 {
      margin-top: 0;
      font-size: 18px;
      color: #0f1622;
    }

    span {
      font-size: 13px;
      color: #6c7e95;
    }
  }
}

/***** Promoted articles *****/
.promoted-articles {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.promoted-articles-item {
  flex: 1 0 auto;
}

@media (min-width: 1024px) {
  .promoted-articles-item {
    padding-right: 30px;
  }
  [dir="rtl"] .promoted-articles-item {
    padding: 0 0 0 30px;
  }
}

.promoted-articles-item:nth-child(3n) {
  padding-right: 0;
}

.promoted-articles-item a {
  border-bottom: 1px solid #ddd;
  color: #333333;
  display: block;
  padding: 15px 0;
}

.promoted-articles-item:last-child a {
  border: 0;
}

@media (min-width: 1024px) {
  .promoted-articles-item:last-child a {
    border-bottom: 1px solid #ddd;
  }
}

/***** Community section in homepage *****/
.community {
  text-align: center;
}

.community-image {
  min-height: 132px;
  background-image: linear-gradient(to right, #3a8eff 0px, #0f5eeb 100%);
  background-position: center;
  background-repeat: no-repeat;
  max-width: 100%;
}

.community,
.activity {
  border-top: 1px solid #ddd;
  padding: 30px 0;
}

/***** Recent activity *****/
.recent-activity-header {
  margin-bottom: 10px;
  text-align: center;
}

.recent-activity-list {
  padding: 0;
}

.recent-activity-item {
  border-bottom: 1px solid #ddd;
  overflow: auto;
  padding: 20px 0;
}

.recent-activity-item-parent {
  font-size: 16px;
}

.recent-activity-item-parent, .recent-activity-item-link {
  margin: 6px 0;
  color: #333333;
  display: inline-block;
  width: 100%;
}

@media (min-width: 768px) {
  .recent-activity-item-parent, .recent-activity-item-link {
    width: 70%;
    margin: 0;
  }
}

.recent-activity-item-link {
  font-size: 14px;
  font-weight: 300;
}

.recent-activity-item-meta {
  margin: 15px 0 0 0;
  float: none;
}

@media (min-width: 768px) {
  .recent-activity-item-meta {
    margin: 0;
    float: right;
  }
  [dir="rtl"] .recent-activity-item-meta {
    float: left;
  }
}

.recent-activity-item-time, .recent-activity-item-comment {
  color: #666;
  display: inline-block;
  font-size: 13px;
  font-weight: 300;
}

.recent-activity-item-comment {
  padding-left: 5px;
}

[dir="rtl"] .recent-activity-item-comment {
  padding: 0 5px 0 0;
}

.recent-activity-item-comment::before {
  display: inline-block;
}

.recent-activity-item-comment span::before {
  color: #0072EF;
  content: "\1F4AC";
  display: inline-block;
  font-size: 15px;
  padding-right: 3px;
  vertical-align: middle;
}

[dir="rtl"] .recent-activity-item-comment span::before {
  padding-left: 3px;
}

.recent-activity-controls {
  padding-top: 15px;
}

.catimgs {
  float: left;
  margin: -10px 10px 0 0;
}