/***** Breadcrumbs *****/
.breadcrumbs {
  margin: 0 0 15px 0;
  padding: 0;
  display: flex;
  list-style: none;
}

@media (min-width: 768px) {
  .breadcrumbs {
    margin: 0;
  }
}

.breadcrumbs li {
  color: #666;
  font-weight: 400;
  display: inline;
  font-size: 13px;
  max-width: 450px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.breadcrumbs li + li::before {
  content: "/";
  margin: 0 3px 0 4px;
  font-weight: 400;
  color: #ccc;
}

.breadcrumbs li a {
  color: #aaa;
  transition: .2s color;

  &:visited {
    color: #bbb;
  }

  &:hover {
    color: $blue;
    text-decoration: none;
  }
}