.category-list {
  margin-top: 20px;
  margin-bottom: 64px;

  a {
    color: #3c4b62;
    text-decoration: none;
    transition: .2s color;

    &:hover {
      color: darken($blue, 15);
      text-decoration: none;
    }
  }

  h2 a {
    color: #0f1620;
  }

  h3 a {
    color: #272a2f;
  }

  &__category {
    margin-top: 54px;

    > h2 {
      font-size: 30px;
      margin-bottom: 26px;
      font-weight: 600;
    }
  }

  &__sections {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
  }

  &__section {
    margin: 0 15px 15px;
    flex: 0 1 470px;

    h3 {
      margin-bottom: 20px;
    }
  }

  &__article {
    margin-bottom: 20px;
    font-size: 14px;
    position: relative;
    line-height: 1.8em;
  }

  a.category-list__more {
    color: $blue;

    &:hover {
      color: darken($blue, 15);
    }
  }

  .promoted-icon {
    position: absolute;
    left: -22px;
    top: -1px;
  }
}