.category-list {
  margin-top: 20px;
  margin-bottom: 64px;

  &.container {
    padding-right: 20px;
    padding-left: 40px;

    @media (min-width: 1220px) {
      padding-left: 20px;
      width: 100%;
      max-width: 1208px;
      justify-content: space-between;
    }
  }

  a {
    color: #58677d;
    text-decoration: none;
    transition: .2s color;

    &:hover {
      color: darken($blue, 15);
      text-decoration: none;
    }
  }

  h2,
  h3 {
    a {
      color: #0f1620;
    }
  }

  &__category {
    margin-top: 54px;

    > h2 {
      font-size: 32px;
      margin-bottom: 26px;
      font-weight: 600;

      a {
        position: relative;
        display: inline-block;
        padding-left: 48px;

        &::before {
          background: url(unquote("$assets-support-section-icons-png")) 0 bottom no-repeat;
          background-size: 32px;
          width: 32px;
          height: 32px;
          content: '';
          position: absolute;
          top: 5px;
          left: 0;
        }

        &[href*="Getting-Started-with-Ionic-Pro"]::before {
          background-position: 0 0;
        }

        &[href*="Announcements"]::before {
          background-position: 0 -32px;
        }

        &[href*="Billing-Support"]::before {
          background-position: 0 -64px;
        }

        &[href*="Account-Management"]::before {
          background-position: 0 -96px;
        }

        &[href*="Deploy"]::before {
          background-position: 0 -128px;
        }

        &[href*="Package"]::before {
          background-position: 0 -160px;
        }

        &[href*="Monitoring"]::before {
          background-position: 0 -192px;
        }

        &[href*="Snapshot-Builds"]::before {
          background-position: 0 -224px;
        }

        &[href*="Knowledge-Base"]::before {
          background-position: 0 -256px;
        }
      }
    }
  }

  &__sections {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
  }

  &__section {
    margin: 0 15px 15px;
    flex: 0 1 470px;

    h3 {
      margin-bottom: 20px;
      font-size: 16px;
      font-weight: 600;
      letter-spacing: .2em;
      text-transform: uppercase;
    }
  }

  &__article {
    margin-bottom: 20px;
    font-size: 14px;
    position: relative;
    line-height: 1.8em;
  }

  a.category-list__more {
    color: $blue;

    &:hover {
      color: darken($blue, 15);
    }
  }

  .promoted-icon {
    position: absolute;
    left: -22px;
    top: -1px;
  }
}