<div class="header-wrapper">
  <header class="header container">
    <div class="logo">
      {{#link 'help_center'}}
        <img src="{{asset 'ionic-support-logo.png'}}"
             alt="{{t 'Ionic Support'}}">
      {{/link}}
    </div>
    <div class="nav-wrapper">
      <span class="icon-menu"></span>
      <nav class="user-nav" id="user-nav" aria-expanded="false">
        {{#link 'help_center' class="transparent"}}Support Center{{/link}}
        {{#link 'community'}}Support Forum{{/link}}
        {{#link 'new_request'}}Submit a ticket{{/link}}
        <a href="https://ionicframework.com/docs">Documentation</a>
      </nav>
      {{user_info}}
    </div>
  </header>
</div>